body{
	font-family: "century Gothic", Verdana, sans-serif; 
	margin: 0px;
	padding :0px;
	color: black;
	background-color: white;
}

#contenaire{
	display: block;
	width: 100%;
}
#contenaire div#formulaire_dessin{
	width: 100%;
	height: 50px;
}
#contenaire div#formulaire_dessin .menu{
	width: 100%;
	display: flex;
}
#contenaire div#formulaire_dessin .menu ul{
	width: 40%;
	display: flex;
	list-style-type: none;
}
#contenaire div#formulaire_dessin .menu ul li{
	padding-left: 2px;
}
#contenaire div#formulaire_dessin .menu ul li:hover a{
	background-color:red;
}
#contenaire div#formulaire_dessin .menu ul li a{
	color: black;
	font-size: 18px;
	text-decoration: none;
	padding-left: 10px;
}
#contenaire div#formulaire_dessin .inscription_button{
	width: 100%;
	position: relative;
	top: 30px;
}

#contenaire div#formulaire_dessin .inscription_button form .inscr_bt{
	width: 50%;
	margin-left: 24%;
}
#contenaire div#formulaire_dessin .inscription_button form .inscr_bt input{
	width:21%;
	height: 15px;
}
#contenaire div#formulaire_dessin .inscription_button form .inscr_bt button{
	height: 20px;
}
#contenaire div#tableau_representation{
	margin-top: 70px;
	padding-left: 7%;
}
#contenaire div#tableau_representation #table{
	width: 100%;
}
#contenaire div#tableau_representation #table #tableau{
	margin-left: 15%;
	font-size: 12px;
}
#contenaire div#tableau_representation #table #tableau th{
	height: 20px;
}
#contenaire div.canv{
	margin-left: 300px;
	width: 400px;
	height: 400px;
	border: 3px solid red;
}
#contenaire div.canv canvas{
	width: 100%;
	height: 100%;
	border:1px solid blue;
}

footer{
	background: black;
	margin-top: 450px;
	height: 250px;
	color: white;
	border: 3px solid red;
}
#footer{
	display: flex;
}
#regele{
	font-size: 15px;
	padding-left: 10px;
}
#echelle{
	margin-left: 30px;
}
#echelle p{
	font-size: 15px;

}
#echelle p input{
	width: 17px;
	color: red;
}
@media only screen and (max-width: 780px) {
	#contenaire div#formulaire_dessin .menu{
		width: 100%;
		display: flex;
		border: 2px solid red;
	}
	#contenaire div#formulaire_dessin .menu ul{
	width: 80%;
	display: flex;
	list-style-type: none;
	border: 2px solid blue;
	}
	#contenaire div#formulaire_dessin .menu ul li a{
		color: black;
		font-size: 13px;
		text-decoration: none;
	}
	#contenaire div#formulaire_dessin .inscription_button form .inscr_bt{
		width: 100%;
		margin-left: 1%;
	}
	#contenaire div#tableau_representation #table #tableau{
		margin-left: 0%;
		font-size: 12px;
	}
}
@media screen and (min-width: 781px) and (max-width: 979px){
	#contenaire div#formulaire_dessin .menu{
		width: 100%;
		display: flex;
		border: 2px solid green;
	}
	#contenaire div#formulaire_dessin .menu ul{
	width: 80%;
	display: flex;
	list-style-type: none;
	border: 2px solid yellow;
	}
	#contenaire div#formulaire_dessin .menu ul li:hover a{
		background-color:red;
	}
	#contenaire div#formulaire_dessin .menu ul li a{
		color: black;
		font-size: 13px;
		text-decoration: none;
	}
}